<p style="color: green"><%= notice %></p>

<div id='main'>
  <div id="result" onClick="window.history.go(-1);">

    <div id="place">
      <%= @place.city %>, <%= @place.state %><br/>
      <%= @place.postal_code %>, <%= @place.country %>
    </div>

    <div id="current-weather">
      <div class="weather-main">
        <i class="<%= icon_css @place.current_weather['weather'].first['id'],
                               @place.current_weather['weather'].first['icon'] %>"></i>
        <%= temp_format @place.current_weather['main']['temp'], @place.country_code %>
      </div>
      <div><%= @place.current_weather['weather'].first['description'].humanize %></div>
      <div>Feels Like: <%= temp_format @place.current_weather['main']['feels_like'], @place.country_code %></div>
      <div>
        H: <%= temp_format @place.current_weather['main']['temp_max'], @place.country_code %> &nbsp;
        L: <%= temp_format @place.current_weather['main']['temp_min'], @place.country_code %>
      </div>
      <div class="weather-time">
         Weather data from <%= time_format @place.current_weather['dt'], @place.timezone %>
        <% unless @fresh_data %>
          <br/>Next refresh at
          <%= time_format (@place.updated_at + 30.minutes).to_i, @place.timezone %>
        <% end %>
      </div>
    </div>

    <div id="weather-forecast">
      <table>
        <tbody>
        <% @place.weather_forecast['list'].first(5).each do |item| %>
          <tr class="forecast-item">
            <td><%= time_format item['dt'], @place.timezone, "%-l%P" %></td>
            <td><i class="<%= icon_css item['weather'].first['id'],
                                       item['weather'].first['icon'] %>"></i></td>
            <td calss="forecast-temp">
              <%= temp_format item['main']['temp_min'], @place.country_code %> &ndash;
              <%= temp_format item['main']['temp_max'], @place.country_code %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="weather-time">5-DAY FORECAST</div>
      <table>
        <tbody>
        <% @place.weather_forecast['list'].values_at(*(1...40).step(8)).each do |item| %>
          <tr class="forecast-item">
            <td><%= time_format item['dt'], @place.timezone, "%A" %></td>
            <td><i class="<%= icon_css item['weather'].first['id'],
                                       item['weather'].first['icon'] %>"></i></td>
            <td class="forecast-temp"><%= temp_format item['main']['temp'], @place.country_code %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div id="disclaimer">&copy; <%= link_to "OpenStreetMap", "http://osm.org/copyright", target: "_blank" %> contributors</div>
