<div id="<%= dom_id place %>">
  <p>
    <strong>City:</strong>
    <%= place.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= place.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= place.country %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= place.country_code %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= place.postal_code %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= place.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= place.lon %>
  </p>

  <p>
    <strong>Current weather:</strong>
    <%= place.current_weather %>
  </p>

  <p>
    <strong>Weather forecast:</strong>
    <%= place.weather_forecast %>
  </p>

</div>
